@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: white;
  --secondary: #00171f;
  --accent: #0075fb;
  --daccent: #003459;
  --alter: #007EA7;
  --darkBg: #202020;
}

[data-theme='dark'] {
  --color-default: #121212;
}
[data-theme='light'] {
  --color-default: #ffffff;
}

body,
html {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-default);
}

.selected-color {
  @apply border-2 border-accent;
}

.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-h {
  height: calc(100vh - 1rem);
}

.nav-button {
  @apply p-1  w-14 h-14 rounded-full text-white text-2xl flex items-center justify-center;
}

.nav-dropdown {
  @apply dropdown-content z-[1] menu p-2 shadow border border-cod-gray-700 bg-white dark:bg-cod-gray-950 dark:text-white rounded-box w-fit mb-1 font-medium;
}

.window-size {
  width: calc(100vw - 6.5rem);
  height: calc(100vh - 1.5rem);
}

.input {
  @apply p-4 w-full h-14 rounded-2xl bg-white dark:bg-cod-gray-950 focus:outline-none focus:ring-1 focus:ring-accent indent-2 text-xl;
}

.input-sent {
  @apply p-4 w-full h-14 rounded-2xl bg-white dark:bg-cod-gray-950 focus:outline-none focus:ring-1 focus:ring-accent text-xl;
}

.button {
  @apply btn hover:bg-accent text-white bg-cod-gray-950 text-xl;
}

.button-sent {
  @apply btn btn-circle hover:bg-accent border-none text-cod-gray-950 dark:text-white bg-shark-200 dark:bg-cod-gray-950 text-xl m-1;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0075fb #4f4f4f;
}

.chat-container {
  height: calc(100% - 10rem );
}